<manifest xmlns:tools="http://schemas.android.com/tools"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="es.iessaladillo.pedrojoya.pr185.FotoActivity"
            >
        </activity>
    </application>
</manifest>
