<?xml version="1.0" encoding="utf-8"?>
<manifest package="es.iessaladillo.pedrojoya.pr235"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- No establecer android:parentActivityName porque será llamada
             desde ella misma -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:theme="@style/SettingsTheme"/>
    </application>

</manifest>