<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="es.iessaladillo.pedrojoya.pr111" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- No puede tener android:icon porque da error con Sugar -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="DATABASE"
            android:value="instituto.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="es.iessaladillo.pedrojoya.pr111" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlumnoActivity"
            android:label="@string/title_activity_alumno"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.iessaladillo.pedrojoya.pr111.MainActivity" />
        </activity>
    </application>

</manifest>
