<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.iessaladillo.pedrojoya.pr117">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Actividad principal -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Servicio de interacción con la API -->
        <service android:name=".services.ApiService" />
        <!-- Proveedor de contenidos -->
        <provider
            android:name="es.iessaladillo.pedrojoya.pr117.data.UTCTimeProvider"
            android:authorities="es.iessaladillo.pedrojoya.pr117.provider"
            android:exported="false" />
        <!-- Receptor de que se ha actualizado la hora -->
        <receiver android:name=".receivers.UTCTimeUpdatedReceiver">
            <intent-filter>
                <action android:name="es.iessaladillo.pedrojoya.pr117.action.utctime_updated" />
            </intent-filter>
        </receiver>
        <!-- Receptor de la alarma de que es necesario actualizar la hora -->
        <receiver
            android:name=".receivers.UTCTimeUpdateNeededReceiver"
            android:exported="false" />
        <!-- Receptor de que se ha arrancado el dispositivo -->
        <receiver
            android:name=".receivers.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
