<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.iessaladillo.pedrojoya.pr096">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="es.iessaladillo.pedrojoya.pr096.ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="es.iessaladillo.pedrojoya.pr096.ui.result.ResultActivity"
            android:label="@string/title_activity_resultado"
            android:parentActivityName=".ui.main.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.iessaladillo.pedrojoya.pr096.ui.main.MainActivity"/>
            <intent-filter>
                <action
                    android:name="es.iessaladillo.pedrojoya.pr096.action.VIEW"/>
                <action
                    android:name="es.iessaladillo.pedrojoya.pr096.action.SEND"/>
                <action
                    android:name="es.iessaladillo.pedrojoya.pr096.action.DELETE"/>
                <action
                    android:name="es.iessaladillo.pedrojoya.pr096.action.ANSWER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>